<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <i class="fa fa-question-cirlce"></i> Help Documentation
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Topic 1</h3>
                </div>
                <div class="box-body">
                    All you need to know.
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- ./col -->
    </div>
</div>
