<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h3><i class="fa fa-file-text-o"></i> Release Notes</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{* latest version, class="box box-success", data-widget i class fa-minus, box-body: style="display: block;" *}
			{* other  versions, class="box box-primary collapsed-box", data-widget i class fa-plus, box-body: style="display: none;" *}
			<!-- start of version box -->
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Version 0.0.1</h3>
					<div class="box-tools pull-right">
						<button data-widget="collapse" class="btn btn-box-tool">
							<i class="fa fa-minus"></i>
						</button>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body" style="display: block;">
					<dl class="dl-horizontal">
                        <dt><i class="fa fa-star"></i> New</dt>
						<dd>Item 1.</dd>
                        <dd>&nbsp;</dd>
                        <dt><i class="fa fa-refresh"></i> Changed</dt>
                        <dd>Item 2.</dd>
                        <dd>&nbsp;</dd>
                        <dt><i class="fa fa-check"></i> Fixed</dt>
                        <dd>Item 3.</dd>                        
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- end of version box -->

            <!-- start of version box -->
            <div class="box box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Version 0.0.0</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;">
                    <dl class="dl-horizontal">
                        <dt><i class="fa fa-star"></i> New</dt>
                        <dd>Initial applicatoin release</dd>
                        <dd>&nbsp;</dd>
                        {*
                        <dt><i class="fa fa-check"></i> Fixed</dt>
                        <dd>not broken no more</dd>
                        <dd>&nbsp;</dd>
                        <dt><i class="fa fa-refresh"></i> Changed</dt>
                        <dd>misc ui fixes and urs tweaks</dd>
                        <dd>changed for the better we hope</dd>
                        <dd>&nbsp;</dd>
                        *}
                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- end of version box -->
			
		</div>
		<!-- ./col -->
	</div>
</div>
