<html>
<body>
<h2>Hive:</h2>
{foreach from=$hiveArray key=k item=entry}
    <div>
        {$k}
        <button onclick="toggleVisibility('{"id_"}{$k}')">+</button>
        <div id="{'id_'}{$k}" style="display: none">
            <pre>{print_r($entry, true)}</pre>
        </div>
    </div>
{/foreach}
<script>
    function toggleVisibility(elementId) {
        var e = document.getElementById(elementId);
        if (e.style.display != 'none') {
            e.style.display = 'none';
        } else {
            e.style.display = 'inline';
        }
    }
</script>
</body>
</html>